doc/html/
doc/latex/
build*/
bin/
plots/

BLUE/scripts/*.sh

.DS_Store
*~
.*.swp
*.egg-info
*.pyc
*.pyo
*.root

# IDEs
.cproject
.project
.settings
.pydevproject
.eclipse/
CMakeLists.txt.user
.vscode/

CLAUDE.md
